@model IEnumerable<WebBanHangOnline.Models.EF.Product>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-3 pb-3">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <span class="subheading" style="font-size: 29px">Sản phẩm nổi bật</span>
                <h2 class="mb-4">Sản phẩm của chúng tôi</h2>
                <p style="font-size: 19px; text-align: justify;">Sản phẩm của chúng tôi được nghiên cứu và phát triển với tiêu chí an toàn, hiệu quả và thân thiện với môi trường. Mỗi dòng sản phẩm tẩy rửa đều được kiểm định kỹ lưỡng, đảm bảo khả năng làm sạch vượt trội mà không gây hại cho sức khỏe người dùng. Các sản phẩm phù hợp cho cả gia đình có trẻ nhỏ. Chúng tôi cam kết mang đến những giải pháp vệ sinh thông minh, giúp khách hàng tiết kiệm thời gian mà vẫn giữ được không gian sống luôn sạch sẽ.</p>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <div class="row">
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    var strImage = "";
                    var img = item.ProductImage.FirstOrDefault(x => x.IsDefault);
                    if (img != null)
                    {
                        strImage = img.Image;
                    }

                    <div class="col-md-6 col-lg-3 ftco-animate">
                        <div class="product">
                            <a href="/chi-tiet/@item.Alias-p@(item.Id)" class="img-prod">
                                <div class="product-img-wrapper">
                                    <img class="img-fluid product-img" src="@strImage" alt="@item.Title" loading="lazy"/>
                                </div>
                                @if (item.PriceSale < item.Price)
                                {
                                    <span class="status">Sale</span>
                                }
                                <div class="overlay"></div>
                            </a>
                            <div class="text py-3 pb-4 px-3 text-center">
                                <h3>
                                    <a href="/chi-tiet/@item.Alias-p@(item.Id)">
                                        @item.Title
                                    </a>
                                </h3>
                                <div class="d-flex">
                                    <div class="pricing">
                                        @if (item.PriceSale < item.Price)
                                        {
                                            <p class="price">
                                                <span class="mr-2 price-dc">@WebBanHangOnline.Common.Common.FormatNumber(item.Price, 0)</span>
                                                <span class="price-sale">@WebBanHangOnline.Common.Common.FormatNumber(item.PriceSale, 0)</span>
                                            </p>
                                        }
                                        else
                                        {
                                            <p class="price">
                                                <span>@WebBanHangOnline.Common.Common.FormatNumber(item.Price, 0)</span>
                                            </p>
                                        }
                                    </div>
                                </div>
                                <div class="bottom-area d-flex px-3">
                                    <div class="m-auto d-flex">
                                        <a href="/chi-tiet/@item.Alias-p@(item.Id)" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                            <span><i class="ion-ios-menu"></i></span>
                                        </a>
                                        @if (item.ProductFragrances == null || !item.ProductFragrances.Any())
                                        {
                                            <a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1 btnAddToCart" data-id="@item.Id">
                                                <span><i class="ion-ios-cart"></i></span>
                                            </a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }

            <!-- Nút Xem Toàn Bộ căn giữa -->
            <div class="col-12 text-center mt-4">
                <a href="/san-pham" class="btn btn-outline-success ftco-animate">Xem Toàn Bộ</a>
            </div>
        </div>
    </div>
</section>